img {
  width: 500px;
  height: 100%;
  margin-right: 30px;
}
.cat-info {
  display: flex;
  padding-top: 20 px;
}
h1 {
  font-size: 18 px;
}
.loader {
  display: none;
}

.not-hidden {
  display: block;
}
.hidden {
  display: none;
}
.error {
  display: none;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
span {
  font-weight: 700;
}
p {
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
  line-height: 2;
}
.not-hidden {
  font-size: 30px;
  text-align: center;
}
